.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
*.iml
.idea
build/
.keystore.idea
com_crashlytics_export_strings.xml
src/main/assets/crashlytics-build.properties
crashlytics-build.properties
.keystore

