<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.triaged.badge.app" >

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.triaged.badge.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.triaged.badge.app.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.triaged.badge.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- GOOGLE MAPS API KEY AND GMS VERSION -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBezYKwv8scCbYbsShwtLyJn9AWVtaV8Jo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="2776a41715c04dde4ba5d15b716b66a51e353b0f" />

        <!-- ACTIVITIES -->
        <activity
            android:name="com.triaged.badge.ui.entrance.EntranceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.triaged.badge.ui.entrance.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_badge" >
        </activity>
        <activity
            android:name="com.triaged.badge.ui.entrance.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_badge" >
        </activity>
        <activity
            android:name="com.triaged.badge.ui.entrance.OnboardingInviteColleagueActivity"
            android:label="@string/title_activity_onboarding_invite_colleague"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_badge" >
        </activity>
        <activity
            android:name="com.triaged.badge.ui.entrance.OnboardingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Badge" />
        <activity
            android:name="com.triaged.badge.ui.home.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Badge" />
        <activity
            android:name="com.triaged.badge.ui.home.ContactsForDepartmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BackTheme" />
        <activity
            android:name="com.triaged.badge.ui.messaging.MessagingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Badge"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.triaged.badge.ui.profile.OnboardingPositionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.triaged.badge.ui.profile.OnboardingLocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.triaged.badge.ui.profile.OnboardingDepartmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.triaged.badge.ui.profile.OnboardingReportingToActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BackTheme" />
        <activity
            android:name="com.triaged.badge.ui.profile.OnboardingMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BackTheme" />
        <activity
            android:name="com.triaged.badge.ui.profile.ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BackTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.triaged.badge.ui.home.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BackTheme" />
        <activity
            android:name="com.triaged.badge.ui.profile.ChangePasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BackTheme" />
        <activity
            android:name="com.triaged.badge.ui.profile.EditProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BackTheme" />
        <activity
            android:name="com.triaged.badge.ui.profile.EditLocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.triaged.badge.ui.home.MessageNewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BackTheme" />

        <!-- SERVICES -->
        <service
            android:name="com.triaged.badge.location.LocationTrackingService"
            android:enabled="true" />
        <service
            android:name="com.triaged.badge.net.FayeService"
            android:enabled="true" />

        <receiver
            android:name="com.triaged.badge.receivers.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.triaged.badge.app" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.triaged.badge.receivers.DeviceBootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.triaged.badge.location.LocationTrackingService$WakeupReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.triaged.badge.app.LOCATION_WAKEUP" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.triaged.badge.receivers.LogoutReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.triaged.badge.LOGOUT" />
            </intent-filter>
        </receiver>

        <!-- CONTENT PROVIDERS -->

        <provider
            android:name="com.triaged.badge.database.provider.UserProvider"
            android:authorities="com.triaged.badge.provider.users"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="com.triaged.badge.database.provider.DepartmentProvider"
            android:authorities="com.triaged.badge.provider.departments"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="com.triaged.badge.database.provider.MessageProvider"
            android:authorities="com.triaged.badge.provider.messages"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="com.triaged.badge.database.provider.OfficeLocationProvider"
            android:authorities="com.triaged.badge.provider.office_location"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="com.triaged.badge.database.provider.ReceiptProvider"
            android:authorities="com.triaged.badge.provider.receipts"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="com.triaged.badge.database.provider.BThreadProvider"
            android:authorities="com.triaged.badge.provider.bthreads"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="com.triaged.badge.database.provider.ThreadUserProvider"
            android:authorities="com.triaged.badge.provider.thread_users"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
